<div class="ke-thua-main">Class kế thừa main</div>
<hr />

<div class="test-scss">
    <p>test-scss</p>
    <div class="xep-chong"> Quy tắc xếp chồng</div>
    <div class="test-scss-gach-chan">test inner</div>
    <p>sử dụng hàm ( @mixin ) và include vào scss</p>
    <div class="ke-thua-child">Kế thừa child</div>
</div>