<div class="mt-4">
    <div class="row fix-row">
        <div class="col-12">
            <div class="text-center">
                <h1>Vui lòng chọn khóa học</h1>
                <a href="/"> Về trang chủ</a>
            </div>
        </div>
    </div>
</div>